* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
  }
  
.product_img img {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
  
  .blueTable {
    background-color: #4a6fdc;
  }
  
  .addBtn {
    background-color: #fff;
    outline: none;
    border: none;
  }
  
  .addBtn:hover {
    background-color: #2e59d9;
  }

  .blue-background{
    background-color: #4E73DF;
  }